In [2]:
#Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from lxml import html

wikipageContent=requests.get(
     'https://en.wikipedia.org/wiki/Main_Page'
)

tree = html.fromstring(wikipageContent.content)

_to_scrape = ['h1','h2','h3']
l1,l2,l3 = [],[],[]
while True:

    for element in _to_scrape:
        path = f'//{element}'
        for j in range(len(tree.xpath(path))):
            if element == 'h1':
                l1.append(tree.xpath(path)[j].text_content())
            elif element == 'h2':
                l2.append(tree.xpath(path)[j].text_content())
            else:
                custom_path = path + '/span'
                l3.append(tree.xpath(custom_path)[j-1].text_content())  
    break

dict = {'h1':l1,'h2':l2,'h3':l3}
wiki_header_df = pd.DataFrame.from_dict(dict, orient='index').T
wiki_header_df

           h1                             h2                 h3
0   Main Page  From today's featured article          Languages
1        None               Did you know ...     Personal tools
2        None                    In the news         Namespaces
3        None                    On this day           Variants
4        None     From today's featured list              Views
5        None       Today's featured picture               More
6        None       Other areas of Wikipedia         Navigation
7        None    Wikipedia's sister projects         Contribute
8        None            Wikipedia languages              Tools
9        None                Navigation menu       Print/export
10       None                           None  In other projects
11       None                           None          Languages

In [ ]:
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [4]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.imdb.com/list/ls091520106/'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')


blocks = soup.find_all('h3',attrs={'class':'lister-item-header'})          # for scraping the name and the relase year of the movie
rating_blocks = soup.find_all('div',attrs={'class':'ipl-rating-widget'})   # for scraping the ratings of the movie

assert len(blocks) == len(rating_blocks)                                   # sanity check

m_name,m_year,m_rating = [],[],[]                                         

for block in blocks:
    #print(block.a.text)
    m_name.append(block.a.text)                                                            # --> Add movie names a list
    #print(block.find('span', class_ = 'lister-item-year text-muted unbold').text)
    m_year.append(block.find('span', class_ = 'lister-item-year text-muted unbold').text)  # --> Add movie release year to a list   

    
for r_block in rating_blocks:
    #print(r_block.find('span', class_ = 'ipl-rating-star__rating').text)
    m_rating.append(r_block.find('span', class_ = 'ipl-rating-star__rating').text)         # --> Add ratings to a list
    
imdb_top100_df = pd.DataFrame({'movie_name':m_name,'movie_year':m_year,'movie_imdb_rating':m_rating})  # --> creating a dataframe

imdb_top100_df.to_csv('imdb_top100_movies.csv',index=False)

imdb_top100_df

                  movie_name movie_year movie_imdb_rating
0   The Shawshank Redemption     (1994)               9.3
1              The Godfather     (1972)               9.2
2     The Godfather: Part II     (1974)                 9
3            The Dark Knight     (2008)                 9
4               12 Angry Men     (1957)                 9
..                       ...        ...               ...
95        North by Northwest     (1959)               8.3
96        A Clockwork Orange     (1971)               8.3
97                    Snatch     (2000)               8.3
98                    Amélie     (2001)               8.3
99                   The Kid     (1921)               8.3

[100 rows x 3 columns]

In [1]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [2]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.imdb.com/india/top-rated-indian-movies/'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')


blocks = soup.find_all('td',attrs={'class':'titleColumn'})        
rating_blocks = rating_block = soup.find_all('strong')             

assert len(blocks) == len(rating_blocks)                           

m_name,m_year,m_rating = [],[],[]                                         

for block in blocks[:100]:
    m_name.append(block.a.text)                                  
    m_year.append(block.span.text)                               

    
for r_block in rating_blocks[:100]:
    m_rating.append(r_block.text)                             
    

imdb_top100_indian_df = pd.DataFrame({'movie_name':m_name,'movie_year':m_year,'movie_imdb_rating':m_rating})  # --> creating a dataframe

imdb_top100_indian_df.to_csv('imdb_top100_indian_movies.csv',index=False)

imdb_top100_indian_df

                    movie_name movie_year movie_imdb_rating
0              Pather Panchali     (1955)               8.5
1                     Gol Maal     (1979)               8.5
2                      Nayakan     (1987)               8.5
3                   Anbe Sivam     (2003)               8.5
4                  Apur Sansar     (1959)               8.5
..                         ...        ...               ...
95  The Legend of Bhagat Singh     (2002)               8.0
96                      Barfi!     (2012)               8.0
97                        Pink     (2016)               8.0
98                  Bommarillu     (2006)               8.0
99                      Bombay     (1995)               8.0

[100 rows x 3 columns]

In [ ]:
#Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [3]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


main_url = 'https://bookpage.com/reviews'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(main_url).read()

soup = BeautifulSoup(sauce,'html.parser')


title_block = soup.find_all('div',attrs={'class':'row-fluid article-row'})
author_block = soup.find_all('p',attrs={'class':'sans bold'})
url_block = soup.find_all('div',attrs={'class':'read-full'})

l1,l2,l3,l4 = [],[],[],[]



def get_data():
    for t in title_block[:5]:
        l1.append(t.find_all('a')[1].text)

    for genre in title_block[:5]:
        temp = []
        all_genres_per_book = genre.find_all('a')[2:-1]
        for all_g in all_genres_per_book:
            temp.append(all_g.text)
        l2.append(temp)
        
    for a in author_block[:5]:
        l3.append(a.text.strip('\n'))

    for url in url_block[:5]:
        url_review = main_url.strip('/reviews') + url.a.get('href')

        sauce_2 = urllib.request.urlopen(url_review).read()
        soup_2 = BeautifulSoup(sauce_2,'html.parser')

        l4.append(soup_2.find('div',attrs={'class':'article-body'}).text.strip('\n'))
            
    book_review_df = pd.DataFrame({'book_name': l1,'genres':l2,'author_name':l3,'review':l4})
    
    return book_review_df
        

        
df = get_data()

df.to_json('book_review.json',orient='records')
df.to_csv('book_review.csv',index=False)

df

,book_name,genres,author_name,review
0,★ Secrets of Happiness,"[Fiction, Family Drama]",Joan Silber,The challenges of balancing money and personal...
1,"Olympus, Texas","[Fiction, Family Drama]",Stacey Swann,"J.R. Ewing, the man everyone loves to hate in ..."
2,"From Little Tokyo, With Love","[YA, YA Fiction]",Sarah Kuhn,"Rika Rakuyama loves Little Tokyo, from its ram..."
3,Seed to Dust,"[Nonfiction, Memoir, Nature]",Marc Hamer,To whom does a garden belong? In his work as a...
4,Before I Saw You,"[Romance, Contemporary Romance]",Emily Houghton,"Emily Houghton’s Before I Saw You is a tender,..."

In [ ]:
# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
# Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. 
# Top 10 ODI Batsmen in men along with the records of their team and rating. 
#Top 10 ODI bowlers along with the records of their team and rating.

In [39]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')

c_name = []
match_number = []
points = []
rating = []


c_1_name = soup.find('span',attrs={'class':'u-hide-phablet'})
c_1_ranking_ = soup.find('td',attrs={'class':'rankings-block__banner--rating'})
c_1_match_ = soup.find('td',attrs={'class':'rankings-block__banner--matches'})
c_1_points_ = soup.find('td',attrs={'class':'rankings-block__banner--points'})

c_name.append(c_1_name.find('div',class_ = "u-hide-phablet").text)
match_number.append(c_1_match__.text)
rating.append(c_1_ranking_.text)
points.append(c_1_points_.text)

table_rows = soup.find_all('tr',attrs={'class':'table-body'})

for row in table_rows[:10]:
    
    c_name_number.append(row.find('td',class_="table-body__cell rankings-table__team").text)
    match_number.append(row.find('td',class_="table-body__cell u-center-text").text)
    rating.append(row.find('td',class_ ="table-body__cell u-text-right rating").text)
    points.append(row.find('td',class_ ="table-body__cell u-center-text").text)

df_odi_teams = pd.DataFrame({'country_name': c_name,'matches':match_number,'ranking': rating,'points': points})

df_odi_teams

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [5]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')

p_name = []
country_name = []
rating = []


# for the player in the banner ( No 1 player)
player_1_block = soup.find('tr',attrs={'class':'rankings-block__banner'})
player_1_block_ranking_ = soup.find('div',attrs={'class':'rankings-block__banner--rating'}) 

p_name.append(player_1_block.find('div',class_ = "rankings-block__banner--name-large").text)
country_name.append(player_1_block.find_all('div')[-2].text.strip('\n'))
rating.append(player_1_block_ranking_.text)

table_rows = soup.find_all('tr',attrs={'class':'table-body'})

for row in table_rows[:10]:
    p_name.append(row.find('a').text)
    country_name.append(row.find('span',class_="table-body__logo-text").text)
    rating.append(row.find('td',class_ ="table-body__cell rating").text)

df_mens_odi_players = pd.DataFrame({'player_name': p_name,'country':country_name,'ranking': rating})

df_mens_odi_players

            player_name country ranking
0            Babar Azam     865     865
1           Virat Kohli     IND     857
2          Rohit Sharma     IND     825
3           Ross Taylor      NZ     801
4           Aaron Finch     AUS     791
5        Jonny Bairstow     ENG     785
6          Fakhar Zaman     PAK     778
7   Francois du Plessis      SA     778
8          David Warner     AUS     773
9             Shai Hope      WI     773
10      Quinton de Kock      SA     756

In [6]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')

p_name = []
country_name = []
rating = []


# for the player in the banner ( No 1 player)
player_1_block = soup.find('tr',attrs={'class':'rankings-block__banner'})
player_1_block_ranking_ = soup.find('div',attrs={'class':'rankings-block__banner--rating'}) 

p_name.append(player_1_block.find('div',class_ = "rankings-block__banner--name-large").text)
country_name.append(player_1_block.find_all('div')[-2].text.strip('\n'))
rating.append(player_1_block_ranking_.text)

table_rows = soup.find_all('tr',attrs={'class':'table-body'})

for row in table_rows[:10]:
    p_name.append(row.find('a').text)
    country_name.append(row.find('span',class_="table-body__logo-text").text)
    rating.append(row.find('td',class_ ="table-body__cell rating").text)

df_mens_odi_players = pd.DataFrame({'player_name': p_name,'country':country_name,'ranking': rating})

df_mens_odi_players

         player_name country ranking
0        Trent Boult     737     737
1   Mujeeb Ur Rahman     AFG     708
2         Matt Henry      NZ     691
3     Jasprit Bumrah     IND     690
4       Mehedi Hasan     BAN     668
5      Kagiso Rabada      SA     666
6       Chris Woakes     ENG     665
7     Josh Hazlewood     AUS     660
8        Pat Cummins     AUS     646
9      Mohammad Amir     PAK     638
10    Shaheen Afridi     PAK     634

In [ ]:
#Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
# Top 10 ODI teams in women’s cricket along with the records for matches, points and rating. 
# Top 10 women’s ODI players along with the records of their team and rating. 
#Top 10 women’s ODI all-rounder along with the records of their team and rating

In [67]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')

country_name = []
match_name = []
point_name = []
rating = []


# for the player in the banner ( No 1 player)
player_1_block = soup.find('span',attrs={'class':'u-hide-phablet'})
player_1_block_ranking_ = soup.find('div',attrs={'class':'rankings-block__banner--rating u-text-right'}) 
player_1_block_match_ = soup.find('td',attrs={'class':'rankings-block__banner--matches'}) 
player_1_block_point_ = soup.find('td',attrs={'class':'rankings-block__banner--points'}) 

country_name.append(player_1_block.text)
rating.append(player_1_block_ranking_.text)
point_name.append(player_1_block_match_.text)
match_name.append(player_1_block_point_.text)

table_rows = soup.find_all('tr',attrs={'class':'table-body'})

for row in table_rows[:10]:
    p_name.append(row.find('a').text)
    country_name.append(row.find('span',class_="table-body__logo-text").text)
    rating.append(row.find('td',class_ ="table-body__cell rating").text)

df_womens_odi_teams = pd.DataFrame({'country':country_name,'matches': match_name,'points': point_name,'ranking': rating})

df_womens_odi_teams

AttributeError: 'NoneType' object has no attribute 'text'

In [8]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')

p_name = []
country_name = []
rating = []


# for the player in the banner ( No 1 player)
player_1_block = soup.find('tr',attrs={'class':'rankings-block__banner'})
player_1_block_ranking_ = soup.find('div',attrs={'class':'rankings-block__banner--rating'}) 

p_name.append(player_1_block.find('div',class_ = "rankings-block__banner--name-large").text)
country_name.append(player_1_block.find_all('div')[-2].text.strip('\n'))
rating.append(player_1_block_ranking_.text)

table_rows = soup.find_all('tr',attrs={'class':'table-body'})

for row in table_rows[:10]:
    p_name.append(row.find('a').text)
    country_name.append(row.find('span',class_="table-body__logo-text").text)
    rating.append(row.find('td',class_ ="table-body__cell rating").text)

df_womens_odi_players = pd.DataFrame({'player_name': p_name,'country':country_name,'ranking': rating})

df_womens_odi_players

          player_name country ranking
0      Tammy Beaumont     765     765
1         Lizelle Lee      SA     758
2        Alyssa Healy     AUS     756
3     Stafanie Taylor      WI     746
4         Meg Lanning     AUS     723
5   Amy Satterthwaite      NZ     715
6     Smriti Mandhana     IND     710
7         Mithali Raj     IND     709
8      Natalie Sciver     ENG     685
9     Laura Wolvaardt      SA     683
10       Ellyse Perry     AUS     679

In [40]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')

p_name = []
country_name = []
rating = []


# for the player in the banner ( No 1 player)
player_1_block = soup.find('tr',attrs={'class':'rankings-block__banner'})
player_1_block_ranking_ = soup.find('div',attrs={'class':'rankings-block__banner--rating'}) 

p_name.append(player_1_block.find('div',class_ = "rankings-block__banner--name-large").text)
country_name.append(player_1_block.find_all('div')[-2].text.strip('\n'))
rating.append(player_1_block_ranking_.text)

table_rows = soup.find_all('tr',attrs={'class':'table-body'})

for row in table_rows[:10]:
    p_name.append(row.find('a').text)
    country_name.append(row.find('span',class_="table-body__logo-text").text)
    rating.append(row.find('td',class_ ="table-body__cell rating").text)

df_womens_odi_players = pd.DataFrame({'player_name': p_name,'country':country_name,'ranking': rating})

df_womens_odi_players

         player_name country ranking
0     Marizanne Kapp     418     418
1       Ellyse Perry     AUS     418
2    Stafanie Taylor      WI     410
3     Natalie Sciver     ENG     349
4      Deepti Sharma     IND     343
5      Jess Jonassen     AUS     307
6   Ashleigh Gardner     AUS     252
7   Dane van Niekerk      SA     243
8      Sophie Devine      NZ     242
9        Amelia Kerr      NZ     236
10   Katherine Brunt     ENG     236

In [ ]:
#Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL 
and Average Rating

In [54]:

from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


url = 'https://www.amazon.in/Mobile-Phone-Under-20000-Rupees/s?k=Mobile+Phone+Under+20000+Rupees'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

sauce = urllib.request.urlopen(url).read()

soup = BeautifulSoup(sauce,'html.parser')


name_block = soup.find_all('',attrs={'class' : 'a-size-medium a-color-base a-text-normal'})
price_block =  soup.find_all('span',attrs={'class':'a-price-whole'})
img_url_block = soup.find_all('div',attrs={'class':'a-section aok-relative s-image-fixed-height'})
rating_block = soup.find_all('span',attrs={'class':'a-icon-alt'})

Rating=[]

for i in rating:

    Rating.append(i.text.replace('out of 5 stars',''))

l1,l2,l3,l4 = [],[],[],[]

l1 = [name.text for name in name_block]
l2 = [int(price.text.replace(',','')) for price in price_block]
l3 = [img_url.img.get('src') for img_url in img_url_block]
l4 = [float(rating.text[:3]) for rating in ratings_block[4:]]

amazon__under_20k_mobiles_df = pd.DataFrame({'mobile_name':l1,'price':l2,'rating':l4,'image_url':l3})

amazon__under_20k_mobiles_df

ValueError: could not convert string to float: ''

In [ ]:
#Write a python program to extract information about the local weather from the National 
#Weather Service website of USA, https://www.weather.gov/ for the city, San 
#Francisco. You need to extract data about 7 day extended forecast display for the city. 
#The data should include period, short description, temperature and description.

In [13]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from lxml import html
import re

forcastpageContent=requests.get(
     'https://forecast.weather.gov/MapClick.php?lat=37.77493000000004&lon=-122.41941999999995#.X7vZI1UzbIU'
)

tree = html.fromstring(forcastpageContent.content)

period = []
shrt_des = []
temp_f = []
des = []

for t in tree.xpath("//div[contains(@class,'row-forecast')]"):
    
    if 'ight' in t.text_content():
        temp = t.text_content().replace('ight','ight ')
        period.append(temp.split()[0])
        shrt_des.append(temp.split(',')[0])
        temp_f.append(int(''.join(re.findall('[0-9]',temp))[:2]))
        des.append(''.join(temp.split(' ',maxsplit=1)[1:]))
        
    else:
        temp = t.text_content().replace('day','day ')
        period.append(temp.split()[0])
        shrt_des.append(temp.split(',')[0])
        temp_f.append(int(''.join(re.findall('[0-9]',temp))[:2]))
        des.append(''.join(temp.split(' ',maxsplit=1)[1:]))
        
sf_temp_df = pd.DataFrame({'period':period,'short_des':shrt_des,'temperature':temp_f,'description':des})

sf_temp_df

,period,short_des,temperature,description
0,"TodaySunny,",TodaySunny,66,with a high near 66. Light west southwest win...
1,Tonight,Tonight Partly cloudy,50,"Partly cloudy, with a low around 50. West sout..."
2,Thursday,Thursday Mostly sunny,63,"Mostly sunny, with a high near 63. West wind 8..."
3,Thursday,Thursday Night Mostly clear,50,"Night Mostly clear, with a low around 50. West..."
4,"FridaySunny,",FridaySunny,66,with a high near 66. Light west southwest win...
5,Friday,Friday Night Mostly clear,51,"Night Mostly clear, with a low around 51."
6,Saturday,Saturday Sunny,72,"Sunny, with a high near 72."
7,Saturday,Saturday Night Mostly clear,53,"Night Mostly clear, with a low around 53."
8,Sunday,Sunday Sunny,71,"Sunny, with a high near 71."
9,Sunday,Sunday Night Clear,53,"Night Clear, with a low around 53."
10,Monday,Monday Sunny,74,"Sunny, with a high near 74."
11,Monday,Monday Night Mostly clear,51,"Night Mostly clear, with a low around 51."
12,Tuesday,Tuesday Sunny,70,"Sunny, with a high near 70."